
img{
    height: 600px;
}

 .title {
     font-family: 'Sanserif';
     font-weight: 500;
     color: rgb(255, 247, 12);
     font-size: 50px;
 }

 .heading{
    margin-top: 8px;
    font-weight: 800;
 }

.para{
    font-size: 22px;
    padding: 22px;
}


.card-title{
    font-weight: 800;
    margin-bottom: 20px;
    
}

 .text-bg{
    background-color: rgb(234, 234, 234);
    color: #000000;
}


.img-bg{
    content: "";
    background: url('https://images.pexels.com/photos/7309949/pexels-photo-7309949.jpeg?auto=compress&cs=tinysrgb&w=1500');
    /* position: absolute; */
    height: 100%;
    width: 100%;
    /* margin-left: -206px; */
    top: 0%;
    z-index: -1;
    opacity: 0.89;
    padding: 20px;
    color: black;
    font-weight: 600;
}
.card{
    transition: transform 450ms;
}
.card:hover{
    transform: scale(1.08);
    cursor: pointer;
    background-color: aliceblue;

}