<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/4498139/pexels-photo-4498139.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="d-block w-100" alt="...">

        <div class="carousel-caption  d-md-block">
            <button class="btn btn-warning my-4">Send Us Your Query</button>
            <h1 class="title">Live a Fine Life</h1>
            <!-- <p>Live a fine life</p> -->
        </div>
    </div>
</div>
<div class="text-center">

    <h1 class="heading my-4">Our Service</h1>
    <p class="container para">Welcome to FineSystems, a distinguished industry leader in the manufacturing and supply of
        top-tier cellotape and
        packaging materials. Our extensive range of products is designed to cater to the diverse needs of various
        industries, ensuring optimal solutions for businesses of all sizes.

        Committed to excellence and driven by innovation, our core mission is to provide impeccable service and deliver
        premium-quality materials that meet the highest industry standards. Our services are thoughtfully curated to
        address your unique requirements, empowering you to elevate your packaging strategies to the next level.
    </p>
    <div class="row container-fluid d-flex justify-content-center my-4">
        <div class="card text-bg mb-3 col-6 mx-2" style="max-width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">Wide Range of Tapes</h5>
                <p class="card-text">We offer a comprehensive selection of cello tapes, catering to various applications
                    and needs. Whether you require standard clear tapes or specialized tapes, we have it all.</p>
            </div>
        </div>
        <div class="card text-bg mb-3 col-6  mx-2" style="max-width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">Custom Sizes</h5>
                <p class="card-text">Our brand provides cello tapes in custom sizes to meet specific requirements. From
                    small rolls to bulk orders, we can tailor the tape size to your needs.</p>
            </div>
        </div>
        <div class="card text-bg mb-3 col-6  mx-2" style="max-width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">Multiple Colors and Designs</h5>
                <p class="card-text">Choose from a variety of colors and designs to match your branding or creative
                    preferences. We offer an array of options to add a unique touch to your packaging or projects.</p>
            </div>
        </div>
        <div class="card text-bg mb-3 col-6  mx-2" style="max-width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">Bulk Orders and Wholesale Pricing</h5>
                <p class="card-text">For businesses and retailers, we offer attractive pricing for bulk orders. Avail
                    discounts on large quantities to ensure cost-effectiveness.</p>
            </div>
        </div>

    </div>


</div>
<div class=" img-bg">

    <h1 class="heading my-4 text-center">Send Us Your Query</h1>
    <div class="container w-50">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Your Name</label>
                <input type="email" placeholder="Enter Your Name" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" placeholder="Enter your email address" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Address</label>
                <input type="email" placeholder="Enter your address" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">

            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                <input type="number" placeholder="Enter your number" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Quantity</label>
                <input type="number " placeholder="Enter  the Quantity You want" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div style="display: flex; justify-content: center;">
                <button type="submit" class="btn btn-warning "
                    >Submit</button>
            </div>
        </form>
    </div>
</div>